
/****************************************************************************************EPG*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2/02/2017, 11:57:46 AM
    Author     : bbinco
*/


.Recording {
    background-image: url('../../Media/Buttons/record.png');
    background-repeat: no-repeat;
    background-size: 5%;
    background-position: right;
    color: #f06f6f;
}


.title_table_EPG{
    float:left;
    width: 15%;
    text-align: center;
    font-size: 22px;
}
.hours_list{
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    left: 15%;
    width: 100%;
}
.hours_container{
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    left: 15%;
    width: 85%;
    font-size: 22px;
}
.channel_container {
    float: left;
    width: 15%;
    max-width: 15%;
}
.program_container {
    float: left;
    left:15%;
    width: 85%;

}
.hours_list {
    clear: both;
}
.hours_list li{
    /*width: 20%;*/
    display: inline-block;
}

#hour0,
#hour1,
#hour2,
#hour3,
#hour4 {
    background: rgb(92, 92, 92);
    border: 3px solid #2F2D2D;
}

.EPG_container{
    left: 17%;
    position: fixed;
    top: 48%;
    width: 90%;
}
.program_list{
    margin: 0;
    padding: 0;
    width: 101%;
}
.program_list a{
    display: inline-block;
}
.channel_list{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
.program_box{
/*    background-color: #00827c;*/
    display: inline-block;
    border: 3px solid #2F2D2D;
    font-size: 22px;
}
.program_box:focus{
   color: #EBBC23;
   /*  text-shadow: 2px 2px 2px #000000;
    background-image: url('../media/bgDescription.png');*/
/*    color: #4D909F;*/
    text-shadow: 2px 2px 2px #000000;
    background-image: url('../../Media/overlay2.png');
    background-size: cover;
/*background-image: url('../media/overlay2.png');
background-size: cover;*/
}
.Canal{
    height: 20%;
    white-space: nowrap;
}
.channel_name{
    background: rgb(92, 92, 92);
    border: 3px solid #2F2D2D;
    font-size: 22px;
    padding-left: 10px;
}
.info_container{
    border-radius: 10px;
    float: right;
    width: 68%;
    
    margin-right: 2%;
}
.current_container{
    color: #5A88E3;
    border-radius: 10px;
    float: left;
    font-size: 17px;
    height: 11.5%;
    margin-left: 2%;
    position: fixed;
    text-align: left;
    top: 33%;
    width: 27%;
    padding-left: 1%;
}
.date_container{
    border-radius: 10px;
    float: left;
    height: 5%;
    margin-left: 2%;
    position: fixed;
    top: 44.5%;
    width: 28%;
    padding-left: 1%;
}
.current_hour{
    width: 30%;
    height: 7.5%;
    float: left;
    position: fixed;
    top: 42.5%;
    background-color: #493107;
    text-align: center;
}
.info_programa{
    display: inline-block;
    width: 85%;
}
.fa-star{
    color: yellow;
}

.control_help_epg{
    width: 100%;
    height: 15%;
    top: 86.5%;
    position: fixed;
    z-index: -1;
    display: inline-block;
    text-align: center;
    display: inline-block;
}
ul.lista_help_epg {
    padding: 3%
}
.lista_help_epg li{
    vertical-align:middle; 
    display: inline;
    margin: 5px;
}

.title_table_EPG,
.hours_list{
/*    background-color: #03273B;
    background: -moz-linear-gradient(RGB(2, 29, 44), RGB(7, 61, 92)); FIREFOX
    background: -o-linear-gradient(RGB(2, 29, 44), RGB(7, 61, 92)); OPERA*/
}


.info_container, 
.date_container,
.current_container{
/*    background-color: #03273B;
    background: -moz-linear-gradient(RGB(7, 61, 92),RGB(2, 29, 44)); FIREFOX
    background: -o-linear-gradient(RGB(7, 61, 92),RGB(2, 29, 44)); OPERA*/
font-weight: bolder;
}


.channel_container
{
/*    background-color: #03273B;
    background: -moz-linear-gradient(left, RGB(2, 29, 44), RGB(7, 61, 92)); FIREFOX
    background: -o-linear-gradient(left, RGB(2, 29, 44), RGB(7, 61, 92)); OPERA*/
}

.control_help_epg{
/*    background-color: #03273B;
    background: -moz-linear-gradient(bottom, RGB(2, 29, 44), RGB(7, 61, 92)); FIREFOX
    background: -o-linear-gradient(bottom, RGB(2, 29, 44), RGB(7, 61, 92)); OPERA*/
}

#logo_canal{
    background-color: #FFFFFF;
    border-radius: 5px;
    height: 10%;
    position: fixed;
    right: 9px;
    text-align: center;
    top: 15px;
    width: 10%;
    
    margin-right: 2%;
}
/*
#29717d
#055136*/

/* Contenedores para background */

#ContainerRight,
#ContainerLeft,
#SideBarRight {
    background-color: #2F2D2D;
}

#ContainerRight {
    display: none;
    position: fixed;
    width: 70%;
    right: 0;
    height: 100%;
    padding: 10px;
    z-index: -99999;
}

#ContainerLeft {
    bottom: 0;
    display: none;
    height: 65%;
    position: fixed;
    width: 30%;
    padding: 10px;
    z-index: -99999;
}

#SideBarRight {
    display: none;
    height: 100%;
    padding-right: 1.7%;
    position: fixed;
    right: 0px;
    z-index: 999;

}