<!--
=========================================================
Material Dashboard - v2.1.2
=========================================================

Product Page: https://www.creative-tim.com/product/material-dashboard
Copyright 2020 Creative Tim (https://www.creative-tim.com)
Coded by Creative Tim

=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../../../../../Assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../../../../Media/icon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Locaciones
  </title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="../../../../../Assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../../../../../Assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="main-panel">
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Locaciones</h4>
                </div>
                <div class="card-body">
                  <div class="tab-content">
                      <div class="tab-pane active" id="profile">
                          <table id="LocationsTable" class="ui celled table" style="width:100%"></table>
                      </div>
                      <div class="tab-pane" id="messages">
                      </div>
                      <div class="tab-pane" id="settings">
                      </div>
                  </div>
              </div>
              </div>
            </div>
              <div id="sidebar">
                <div class="col-md-4">
                  <div class="card card-profile">
                    <div class="card-body">
                      <div>
                        <h6 class="card-category text-gray">Nombre Locacion</h6>
                        <input type="text" id="NameLocation" class="form-control" placeholder="Inserte nombre locacion">
                      </div>
                      <div>
                        <h6 class="card-category text-gray">Guia de programación</h6>
                        <select name="Epg" id="Epg" class="custom-select">
                          <option value="Default" selected>Seleccione estado de la guia</option>
                          <option value="0">Inactivo</option>
                          <option value="1">Activo</option>
                        </select>
                      </div>
                      <div>
                        <h6 class="card-category text-gray">Menu</h6>
                        <select name="Menu" id="Menu" class="custom-select">
                          <option value="Default" selected>Seleccione estado del menu</option>
                          <option value="0">Inactivo</option>
                          <option value="1">Activo</option>
                        </select>
                      </div>                      <div>
                        <h6 class="card-category text-gray">Mensajes</h6>
                        <select name="Messages" id="Messages" class="custom-select">
                          <option value="Default" selected>Seleccione estado de los mensajes</option>
                          <option value="0">Inactivo</option>
                          <option value="1">Activo</option>
                        </select>
                      </div>
                      <div>
                        <h6 class="card-category text-gray">Pantalla de inicio</h6>
                        <select name="InitScreen" id="InitScreen" class="custom-select">
                          <option value="Default" selected>Seleccione modulo de inicio</option>
                        </select>
                      </div>
                      <div>
                        <h6 class="card-category text-gray">Paquete asignado</h6>
                        <select name="Package" id="Package" class="custom-select">
                          <option value="Default"  selected>Seleccione paquete</option>
                        </select>
                      </div>
                      <div>
                        <h6 class="card-category text-gray">Miembro asignado</h6>
                        <select name="Member" id="Member" class="custom-select">
                          <option value="Default"  selected>Seleccione miembro</option>
                        </select>
                      </div>
                    <button class="btn btn-primary btn-round" id="btnActualizar">Actualizar</button>
                    <button class="btn btn-primary btn-round" id="btnRegistrar">Registrar</button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="../../../../../Assets/js/core/jquery.min.js"></script>
  <script src="../../../../../Assets/js/core/popper.min.js"></script>
  <script src="../../../../../Assets/js/core/bootstrap-material-design.min.js"></script>
  <script src="../../../../../Assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Plugin for the momentJs  -->
  <script src="../../../../../Assets/js/plugins/moment.min.js"></script>
  <!--  Plugin for Sweet Alert -->
  <script src="../../../../../Assets/js/plugins/sweetalert2.js"></script>
  <!-- Forms Validations Plugin -->
  <script src="../../../../../Assets/js/plugins/jquery.validate.min.js"></script>
  <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  <script src="../../../../../Assets/js/plugins/jquery.bootstrap-wizard.js"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="../../../../../Assets/js/plugins/bootstrap-selectpicker.js"></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src="../../../../../Assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
  <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
  <script src="../../../../../Assets/js/plugins/jquery.dataTables.min.js"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="../../../../../Assets/js/plugins/bootstrap-tagsinput.js"></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="../../../../../Assets/js/plugins/jasny-bootstrap.min.js"></script>
  <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
  <script src="../../../../../Assets/js/plugins/fullcalendar.min.js"></script>
  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  <script src="../../../../../Assets/js/plugins/jquery-jvectormap.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="../../../../../Assets/js/plugins/nouislider.min.js"></script>
  <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
  <!-- Library for adding dinamically elements -->
  <script src="../../../../../Assets/js/plugins/arrive.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chartist JS -->
  <script src="../../../../../Assets/js/plugins/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../../../../../Assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../../../../../Assets/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <script src="../../../../../Assets/demo/demo.js"></script>
  <!-- DataTables -->
  <link rel="stylesheet" type="text/css" href="../../../../../Assets//DataTables/datatables.min.css"/>
  <script type="text/javascript" src="../../../../../Assets//DataTables/datatables.min.js"></script>

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
<script>
  // Controladores
  const PathController = '/BBINCO/Admin/Core/Querys/',
        SourceController= '/BBINCO/TV/Core/Controllers/';
  
  // Locaciones
  let AllLocations = [];
  let LocationsToTable = [];
  

  // Modulos
  let AllModules = [];

  //Paquetes
  let AllPackages = [];

  //Miembros
  let Allmembers = [];

  //Nodos
  let TableBody = [];

  $( document ).ready(function() {
    getInfo();
    console.log(AllModules);
    console.log(AllPackages);
    console.log(AllLocations);
    getLocations();
    setAllInfo();
    document.getElementById('btnActualizar').disabled = true;
    sendInfo();
   

    
  });

function getLocations(){
  AllLocations.forEach(location => {
    var aux = [];
    aux.push(location.codigo_locacion);
    if(location.epg == '1'){
      aux.push('Activo');
    }else{
      aux.push('Inactivo');
    }
    if(location.menu == '1'){
      aux.push('Activo');
    }else{
      aux.push('Inactivo');
    }
    if(location.mensajes == '1'){
      aux.push('Activo');
    }else{
      aux.push('Inactivo');
    }
   AllModules.forEach(module => {
      if(module.Id == location.id_modulo){
        if(module.Name == 'Welcome'){
          aux.push('Menu');
        }else{
          aux.push(module.Name);
        }
      }
    });
    AllPackages.forEach(package => {
      if(package.id_paquete == location.id_paquete){
        aux.push(package.nombre_paquete);
      }
    });
    Allmembers.forEach(member => {
      if(member.codigo_miembro == location.codigo_miembro){
        aux.push(member.codigo_miembro);
      }
    });
    
    LocationsToTable.push(aux);
  });

  getTables();
  selectLocation();
  
  }

function getTables(){
  $('#LocationsTable').DataTable( {
    data: LocationsToTable,
    columns: [
        { title: "Locación" },
        { title: "Guia de programación" },
        { title: "Menu" },
        { title: "Mensajes" },
        { title: "Pantalla de inicio" },
        { title: "Paquete asignado" },
        { title: "Miembro" },
    ],
    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
});
}

function getInfo(){
  $.ajax({
    type: "POST",
    url: PathController+'Member.php',
    data: { 
        Option    : 'SelectLocations',
    }, 
    async: false,
    success: function (response) {
      AllLocations  = $.parseJSON(response);
    }
});  

$.ajax({
  type: "POST",
  url: SourceController+'Module.php',
  data: { 
      Option    : 'GetAllMembers',
  }, 
  async: false,
  success: function (response) {
    Allmembers  = $.parseJSON(response);
  }
}); 

  $.ajax({
    type: "POST",
    url: SourceController+'Module.php',
    data: { 
        Option    : 'GetModules',
        ProjectId : '1'
    }, 
    async: false,
    success: function (response) {
      AllModules  = $.parseJSON(response);
    }
  }); 
  $.ajax({
    type: "POST",
    url: SourceController+'Packages.php',
    data: { 
        Option    : 'GetAllPackages',
    }, 
    async: false,
    success: function (response) {
      AllPackages  = $.parseJSON(response);
    }
  }); 
}

function selectLocation(){
  
  $('#LocationsTable tbody').on('click', 'tr', function(){
    if ($(this).hasClass('selected')) {
      $(this).removeClass('selected');
      document.getElementById('btnRegistrar').disabled = false;
      document.getElementById('btnActualizar').disabled = true;
      document.getElementById('NameLocation').disabled = false;
  } else {
      $('#LocationsTable').DataTable().$('tr.selected').removeClass('selected');
      $(this).addClass('selected');
      document.getElementById('btnActualizar').disabled = false;
      document.getElementById('btnRegistrar').disabled = true;
      
      document.getElementById('NameLocation').disabled = true;

  }
  
  TableBody = document.getElementsByTagName('tr');
  let locationName = '';
  for (let x = 0; x < TableBody.length; x++) {
    let className = TableBody[x].className;
    let flag = className.indexOf('selected');
    if(flag !== -1){
      locationName = TableBody[x].children[0].innerText;
    }
  }
  setInformation(locationName);

  });
}

function setInformation(name){
  let locationSelected = [];
  AllLocations.forEach(element => {
    if(element.codigo_locacion == name){
      locationSelected = element;
    }
  });
  if(locationSelected.length == 0){
    $('#NameLocation').val('');
    $('#NameLocation').attr('placeholder', 'Inserta Nombre locacion');
    $('#Epg').val('Default');
    $('#Menu').val('Default');
    $('#Messages').val('Default');
    $('#InitScreen').val('Default');
    $('#Package').val('Default');
    $('#Member').val('Default');
  }else{
    $('#NameLocation').val(locationSelected.codigo_locacion);
    $('#Epg').val(locationSelected.epg);
    $('#Menu').val(locationSelected.menu);
    $('#Messages').val(locationSelected.mensajes);
    $('#InitScreen').val(locationSelected.id_modulo);
    $('#Package').val(locationSelected.id_paquete);
    $('#Member').val(locationSelected.codigo_miembro);
  }

  
}

function setAllInfo(){
  let selectPackage = document.getElementById('Package');
  AllPackages.forEach(element => {
    let option = document.createElement('option');
    option.text = element.nombre_paquete;
    option.value = element.id_paquete;
    selectPackage.add(option);
  });

  let selectModules = document.getElementById('InitScreen');

  AllModules.forEach(element => {
    let option = document.createElement('option');
    if(element.Name == 'Welcome'){
      option.text = 'Menu';
    }else{
      option.text = element.Name;
    }
    option.value = element.Id;
    selectModules.add(option);
  });

  let selectMembers = document.getElementById('Member');

  Allmembers.forEach(element => {
    let option = document.createElement('option');
    option.text = element.codigo_miembro;
    option.value = element.codigo_miembro;
    selectMembers.add(option);
  });

}


function sendInfo(){
  $('#btnActualizar').click( function(){

    let Empty = isEmpty();
    if(Empty == 0){
      let locationSelected = [];
      AllLocations.forEach(element => {
        if(element.codigo_locacion == $('#NameLocation').val()){
          locationSelected = element;
        }
      });
      $.ajax({
        type: "POST",
        url: SourceController+'Location.php',
        data: { 
            Option    : 'UpdateLocation',
            LocationId: locationSelected.id_locacion,
            codigo_miembro : $('#Member').val(),
            epg: $('#Epg').val(),
            menu: $('#Menu').val(),
            mensajes: $('#Messages').val(),
            id_paquete: $('#Package').val(),
            id_modulo: $('#InitScreen').val()
        }, 
        async: false,
        success: function (response) {
          swal({title: "Locacion actualizada", text: "La locacion con el nombre: "+$('#NameLocation').val()+" se actualizo exitosamente", icon: 
              "success"}).then(function(){ 
                location.reload();
                }
              );
        }
      }); 
    } else{
      swal({
        title: "Por favor selecciona o agrega un valor en lo siguientes campos:",
        text: Empty.toString(),
        icon: "error",
      });
    }


  });


$('#btnRegistrar').click( function(){

    let Empty = isEmpty();
    let Equal = isEqual();
    
    if(Empty.length>0){
      swal({
        title: "Por favor selecciona o agrega un valor en lo siguientes campos:",
        text: Empty.toString(),
        icon: "error",
      });
    } else if (Equal == true){
      swal({
        title: "El nombre que estas tratando de registrar ya existe",
        text: "Intenta con un nombre diferente",
        icon: "error",
      });
    } else if (Equal == false && Empty == 0){
      $.ajax({
        type: "POST",
        url: SourceController+'Location.php',
        data: { 
            Option    : 'InsertLocation',
            codigo_locacion: $('#NameLocation').val(),
            codigo_miembro : $('#Member').val(),
            epg: $('#Epg').val(),
            menu: $('#Menu').val(),
            mensajes: $('#Messages').val(),
            id_paquete: $('#Package').val(),
            id_modulo: $('#InitScreen').val()
        }, 
        async: false,
        success: function (response) {
           swal({title: "Locacion actualizada", text: "La locacion con el nombre: "+$('#NameLocation').val()+" se actualizo exitosamente", icon: 
              "success"}).then(function(){ 
                location.reload();
                }
              );
        }
      });
  
    }

  });
}

function isEmpty(){
  let selects = document.getElementsByTagName('select');
  let EmptySelects = [];

  for (let x = 1; x < selects.length; x++) {
    if(selects[x].value == 'Default'){
      if(selects[x].id == 'Epg'){
        EmptySelects.push('Guia de programacion');
      } else if(selects[x].id == 'Menu'){
        EmptySelects.push('Menu');
      } else if(selects[x].id == 'Messages'){
        EmptySelects.push('Mensajes');
      } else if(selects[x].id == 'InitScreen'){
        EmptySelects.push('Pantalla de inicio');
      }
      else if(selects[x].id == 'Package'){
        EmptySelects.push('Paquete asignado');
      }
      else if(selects[x].id == 'Member'){
        EmptySelects.push('Miembro asignado');
      }
    }
  }

  if($('#NameLocation').val() == 0){
    EmptySelects.push('Nombre Locacion')
  }
  return EmptySelects;
}

function isEqual(){
  let flag = false;
  AllLocations.forEach(element => {
    if(element.codigo_locacion == $('#NameLocation').val()){
       flag = true; 
    }
  });
  return flag;
}
</script>

</html>