/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 20, 2020, 11:34:13 AM
    Author     : tania


#15598e

*/


/***************************** [ Contenedores generales ] *****************************/

div#PanelHeader {
    width: 10%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    color: #fff;
}

div#PanelLeft {
    width: 20%;
    height: 100%;
    position: fixed;
    left: 10%;
    bottom: 0;
    z-index: 1;
}

div#PanelRight {
    width: 70%;
    height: 95%;
    position: fixed;
    right: 0;
    bottom: 2%;
    z-index: 1;
}

div.OptionFocus {
    box-shadow: 0px 0px 11px rgba(255, 255, 255, 0.7);
text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.7);
}


div#BackgroundPanel {
    width: 100%;
    height: 100%;
    position: fixed;
    background-size: cover;
    z-index: 0;
    top: 0;
}

/***************************** [ Cabezera ] *****************************/

div#MenuHour {
    font-size: 50px;
    width: 29%;
    text-align: left;
    font-family: bebas;
    height: 7%;
    margin: 1% 0% 0% 3%;
    position: fixed;
    z-index: 1;
}

div#MenuDate {
    font-size: 20px;
    width: 29%;
    text-align: left;
    font-family: poppins;
    margin: 0% 0% 0% 3%;
    position: fixed;
    top: 9%;
    z-index: 1;
}

div#MenuOptions {
    width: 5%;
    text-align: center;
    height: 85%;
    bottom: 0;
    position: fixed;
    left: 3%;
    z-index: 1;
}

div.MenuOptions {
    width: 100%;
    float: left;
    font-size: 35px;
    text-align: center;
    height: 10%;
    border-radius: 5px;
}

.Selected {
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    background: rgba(0, 0, 0, 0.3);
}

div#Banner {
    width: 69%;
    height: 50%;
    background-size: 100% 100%;
    float: right;
    margin-right: 1%;
    display: none;
}

/***************************** [ Filtros derecha ] *****************************/


div#Filter {
    width: 90%;
    text-align: left;
    font-size: 33px;
    line-height: normal;
    margin: 0 5% 0 5%;
    border-radius: 5px;
    font-family: bebas;
}

div.OptionsFilter {
    width: 90%;
    text-align: center;
    font-size: 40px;
    line-height: normal;
    margin: 5%;
    height: 19%;
    border-radius: 5px;
    font-family: bebas;
}

/***************************** [ Peliculas derecha ] *****************************/


div.MoviesRow{
    width: 98%;
    float: right;
    margin: 4.3% 1% 0% 1%;
    height: 42%;

}

div.RowPoster {
    width: 18%;
    height: 85%;
    margin: 0% 0.6% 0% 0.6%;
    float: left;
    text-align: center;
    border: 3px solid transparent;
    border-radius: 3px;
}

div.RowPoster img{
    max-width: 100%;
    min-height: 100%;
}

div.RowPoster h3 {
    margin: 0;
    color: #fff;
}

/***************************** [ Panel pelicula ] *****************************/


div#MoviePanel {
    font-size: 25px;
    color: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    visibility: hidden;
    bottom: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}


div.MovieTitle {
/*    font-size: 39px;
    width: 80%;
    font-weight: bold;
    float: left;
    margin-top: 2%;*/
font-size: 50px;
width: 80%;
font-weight: bold;
float: left;
margin-top: 4%;
font-family: gloss;
color: #ffffce;
}

.Poster {
    max-width: 15%;
min-height: 40%;
float: left;
margin: 3% 1.5% 1% 3%;
border-radius: 8px;
}

div.MovieDuration {
    width: 15%;
    font-weight: bold;
    float: left;
    margin: 1% 0%;
    text-align: center;
    padding: 0.3%;
}

div.Genders {
    width: 30%;
    font-weight: bold;
    float: left;
    margin: 1% 0%;
    text-align: left;
    padding: 0.3%;
}

div.Year {
    width: 12%;
    font-weight: bold;
    float: left;
    margin: 1% 0%;
    text-align: center;
    padding: 0.3%;
}

div.Rating {
    width: 7%;
    font-weight: bold;
    float: left;
    margin: 0.5% 0%;
    text-align: center;
    font-size: 38px;
    text-shadow: 2px 2px 2px #000;
    color: #efa46d;
}

div.Score {
    width: 3.3%;
    font-weight: bold;
    float: left;
    border: 3px solid #ccad07;
    border-radius: 60px;
    font-size: 25px;
    margin: 1% 0%;
    text-align: center;
    padding: 0.3%;
}

div.Star {
    font-weight: bold;
    float: left;
    color: #e8bb0a;
    width: 3.5%;
    border-radius: 60px;
    font-size: 30px;
    margin: 1% 0%;
    text-align: center;
    padding: 0.3%;
}

div.MovieDescription {
    width: 75%;
    font-weight: bold;
    float: left;
}

div#PlayPanel {
    left: 5%;
}

div#ExitPanel {
    left: 20%;
}

div.Casting {
    width: 90%;
    font-weight: bold;
    float: left;
    margin: 1% 1% 0% 3%;
    text-align: left;
    font-size: 23px;
    color: #8abfe6;
}

div.Director {
    width: 98%;
    font-weight: bold;
    float: left;
    margin: 2% 1% 1% 3%;
    text-align: left;
    font-size: 23px;
    color: #abd1ed;
}

div.Buttons {
    width: 14%;
    font-size: 30px;
    /*border-radius: 39px;*/
    /*background: rgba(255, 255, 255, 0.28);*/
    text-align: center;
    bottom: 10%;
    position: fixed;
    margin: 1%;
    border: 2px solid transparent;
}

div.MovieOption {
    border: 2px solid #fff;
    /*background: rgba(255, 255, 255, 0.44);*/
    text-shadow: 2px 2px 2px #000;
}

/***************************** [ Opciones reproduccion ] *****************************/

div#PlayingPanel {
    visibility: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    background: rgba(0,0,0,0.3);
}

div.PlayingHeader {
    background: -o-linear-gradient(90deg, rgba(0, 0, 0, 0), rgb(22, 38, 71));
    background: linear-gradient(-0deg, rgba(0, 0, 0, 0), rgb(22, 38, 71));
    width: 100%;
    height: 30%;
    position: fixed;
    text-shadow: 1px 1px 1px #000;
    color: #fff;
}

div#PlayingTitle {
    width: 90%;
    margin-left: 2%;
    margin-top: 2%;
    font-size: 30px;
    font-weight: bold;
}

div#PlayingSpeed,
div#InfoPosition {
    width: 90%;
    margin-left: 2%;
    font-size: 20px;
}

div#ExitPlaying {
    width: 4%;
    position: fixed;
    right: 2%;
    text-align: center;
    font-size: 35px;
    top: 3%;
    border-radius: 10px;
}

div.PlayingBar {
    width: 100%;
    height: 1%;
    position: fixed;
    background: rgba(255, 255, 255, 0.5);
    bottom: 12%;
}

div#PlayingPosition {
    width: 1%;
    height: 0%;
    position: fixed;
    bottom: 14.5%;
    text-align: right;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

div#PlayingOptions {
    width: 100%;
    height: 20%;
    position: fixed;
    bottom: 0%;
    text-align: center;
    background: -o-linear-gradient(-90deg, rgba(0, 0, 0, 0), rgb(22, 38, 71));
    background: linear-gradient(-180deg, rgba(0, 0, 0, 0), rgb(22, 38, 71));
}


div.ButtonPlaying {
    width: 5%;
    display: inline-block;
    font-size: 30px;
    height: 32%;
    border-radius: 7px;
    margin: 5% 0.5% 0% 0.5%;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}


div.ButtonFocus {
    background: rgba(255,255,255,0.5);
    box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
    text-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}