@font-face {
    font-family: 'Unica77LL';
    src: url('../../Menu/Styles/Custom-Fonts/Unica77LL/Unica77MonoLLTT-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Unica77LLBold';
    src: url('../../Menu/Styles/Custom-Fonts/Unica77LL/Unica77MonoLLTT-Bold.ttf');
    font-weight: bolder;
    font-style: normal;
}


.yoga-container {
    background-color: #222222;
    color: #E1DDD6;
    font-family: Unica77LL;
}

.yoga-info {
    position: absolute;
    top: 221px;
    left: 95px;
    width: 316px;
    height: 126px;
}

.yoga-info p {
    font-size: 18px;
}
.yoga-info span{
    font-family: Unica77LLBold;
    font-weight: bold;
}

.img-yoga-box {
    position: relative;
    top: 0;
    left: 500px;
    width: 775px;
    height: 750px;
}
.img-yoga-box img {
    width: 100%;
    height: 100%;
}
