/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 19, 2019, 12:08:01 PM
    Author     : tania
*/

body, html {
    font-family: be;
}

/********** EPG FONTS ***********/

p.ChannelNumber,
p.ChannelName,
div.HourRow 
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/********** INFO ***********/

div.BackgroundInfo {
    background: no-repeat;
    background-image: url('DarkBlue/info.png');
    opacity: 0.8;
}


/********** CONTENEDORES EPG Y PVR***********/

div#PvrContainer,
div#EpgContainer {
    color: #fff;
    background-image: url('DarkBlue/epg.png');
}

/********** COLORES EN EPG ***********/

div#EpgNowAiring {
    color: #fff;
}

div#EpgTitle {
    color: #dfbe5e;
}

div#EpgDays {
    color: #fff;
}

/* ProgramFocus y Program tiene que ser el mismo color */
div#ProgramFocus {
    background: rgba(223, 190, 94, 0.9);
    color: #000;
    font-weight: bold;
}

.Program
{
    outline: 1px solid rgba(24, 46, 58, 0.9);
}

p.ChannelNumber,
p.ChannelName,
div.HourRow 
{
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/********** PVR ***********/

div#PvrOptions,
div#PvrDeleteOptions,
div#RecordPlayOptions,
div#RecordingManualOptions,
div#RecordingOptions {
    background-image: url('DarkBlue/square.png');
    box-shadow: 6px 6px rgba(0,0,0,0.5);
    background-size: 100% 100%;
}

div.PvrOptionsButton,
div.RecordingManualOptionsButton,
div.RecordingOptionsButton {
    background: #2f414a;
    color: #fff;
}