/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 19, 2019, 12:08:01 PM
    Author     : tania
*/

/********** TIPOGRAFIA y COLORES ***********/
body, html {
    font-family: be;
}

div#PvrProgramDate
div.HourRow,
div#Temperatures,
div#PanelMessage,
div#TemperatureGroup,
div#EpgRating,
div.RecordingOptionsButton,
div#EpgDays,
div#PvrWeather,
div.ChannelName,
div.Time,
div.Date,
div.Rating,
div#ProgramRow1,
div#ProgramRow2,
div#ProgramRow3,
div#ProgramRow4,
div#ProgramRow5,
div#ProgramRow6,
div#ProgramRow7,
div#EpgTime{
    font-family: arial-rounded;
}

div#EpgNowAiring,
div#CurrentPvrOption,
div#PvrProgramTitle,
div#PvrDate,
div.ChannelNumber,
p.ChannelNumber,
p.ChannelName,
div#EpgDate,
div#EpgTitle {
    font-family: gotham;
}

div.Description,
div#PvrProgramDescription,
div#EpgDescription {
    font-family: calibri-regular;
}


/********** BACKGROUNDS ***********/

div.BackgroundInfo {
    background-image: url('DarkBlue/info.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

div#PvrContainer,
div#EpgContainer {
    color: #fff;
    background-image: url('DarkBlue/epg.png');
}

div#PvrOptions,
div#PvrDeleteOptions,
div#RecordPlayOptions,
div#RecordingManualOptions,
div#RecordingOptions {
    background-image: url('DarkBlue/square.png');
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    background-size: 100% 100%;
}

/********** ASIGNA LOS VALORES EN JS PARA CAMBIAR EL FOCUS ***********/
div#ProgramFocus {
    background: rgb(223, 190, 94); /* background focus*/
    color: #000; /* letra focus*/
    outline: 1px solid rgb(42, 61, 71); /* Color linea grid programas en la guia */
}

div#Extras {
    background: #d36363; /* background grabacion */
    font-size: 33px; /* Porcentaje tv minimizada */
    line-height: 15px; /* Posicion izquierda tv */
    padding: 60px; /* Posicion derecha tv */
    display: none;
}

/********** SOMBRAS ***********/

p.ChannelNumber,
p.ChannelName,
div.HourRow
{
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    font-size: 20px;
    font-weight: bold;
}

/********** COLORES EN ELEMENTOS ***********/

div#EpgStars,
div#PvrProgramTitle,
.PvrChevronLeft,
.PvrChevronRight,
.Ttle,
div#BarStatus,
div#EpgTitle {
    color: #dfbe5e;
}

.Program {
    outline: 1px solid rgb(42, 61, 71);
}

div#PanelMessage {
    background-color: #128ba6;
}

div#MessageClose,
.PvrProgramFocus {
    background: #dfbe5e;
}

.PvrProgramFocus {
    color:#000;
}

div#BarUsedSize {
    background: #0396a6;
    color: #2f414a;
}

div#EpgProgramInfo {
    border-color: #347080;
}

.Rtg,
div#PvrWeather,
div#EpgRating,
div.Rating,
div#Temperatures,
div#TemperatureGroup {
    color: #0396a6;
}

.Program
{
    outline: 1px solid rgb(42, 61, 71);
}

/********** PVR ***********/

div.PvrOptionsButton,
#PvrLogoContainer,
div.RecordingManualOptionsButton,
div.RecordingOptionsButton {
    background: #2f414a;
}


div.PvrOptionsButton,
div.RecordingManualOptionsButton,
div.RecordingOptionsButton,
div#RecordingManualOptions,
div#BarPosition,
div#RecorderMessage,
div#MessageClose,
.PvrSun {
    color: #fff;
}

div.PvrHeader,
div#PvrInfo,
div#EpgProgramInfo,
div#ProgramRow1,
div#ProgramRow2,
div#ProgramRow3,
div#ProgramRow4,
div#ProgramRow5,
div#ProgramRow6,
div#ProgramRow7 {
    background-color: #246681;
}

div#ChannelRow1,
div#ChannelRow2,
div#ChannelRow3,
div#ChannelRow4,
div#ChannelRow5,
div#ChannelRow6,
div#ChannelRow7 {
    background-color: #2f4142;
    border-radius: 6px;
}

div#BarPosition {
    background-color: #0396a6;
}

div.BarPosition {
    background: rgba(255, 255, 255, 0.6);
}

div.RecordingOptionFocus {
    background: rgba(223, 190, 94, 0.9);
    color: #000;
    font-weight: bold;
}

div.BarUsedSize {
    background: rgba(255, 255, 255, 0.8);
}
