/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 19, 2019, 12:08:01 PM
    Author     : tania
*/

/********** TIPOGRAFIA y COLORES ***********/
body, html {
    font-family: be;
}


div#Temperatures,
div#TemperatureGroup {
    color: #0396a6;
    font-family: arial-rounded;
}

div#EpgNowAiring {
    color: #fff;
    font-family: gotham;
}

div#EpgTitle {
    color: #dfbe5e;
    font-family: gotham;
}

div#EpgRating,
div.RecordingOptionsButton,
div#EpgTime{
    font-family: arial-rounded;
}

div#EpgDescription {
    font-family: calibri-regular;
}


/********** BACKGROUNDS ***********/

div.BackgroundInfo {
    background-image: url('DarkBlue/info.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

div#PvrContainer,
div#EpgContainer {
    color: #fff;
    background-image: url('DarkBlue/epg.png');
}

/********** COLORES EN ELEMENTOS ***********/



div#EpgStars {
    color: #e3c15a;
}

.Program {
    outline: 1px solid rgb(42, 61, 71);
}

div.PvrHeader {
    background-color: #246681;
}

div#PvrDate{
    font-family: gotham;
    color: #fff;
}

div#PanelMessage {
    background-color: #128ba6;
    font-family: arial-rounded;
}


div#MessageClose {
    background: #dfbe5e;
    color: #fff;
}

div#CurrentPvrOption {
    font-family: gotham;
}



.PvrChevronLeft,
.PvrChevronRight {
    color: #dfbe5e;
}

div#BarUsedSize {
    background: #0396a6;
    color: #2f414a;
}

div#EpgDays {
    color: #fff;
    font-family: arial-rounded;
}

div#PvrProgramTitle {
    color: #dfbe5e;
    font-family: gotham;
}

div.ChannelName,
div.Time,
div.Date{
    font-family: arial-rounded;
}

div.ChannelNumber,
div#EpgDate {
    font-family: gotham;
}

div#EpgProgramInfo {
    background-color: #246681;
    border-color: #347080;
}

div.Description {
    font-family: calibri-regular;
}

div.Rating {
    font-family: arial-rounded;
}

.PvrSun {
    color: #fff;
}

div.Rating {
    color: #0396a6;
}

/* ProgramFocus para poner valores */
div#ProgramFocus {
    background: rgb(223, 190, 94);
    color: #000;
    font-weight: bold;
    outline: 1px solid rgb(42, 61, 71);
    border: #d36363;
}

.PvrProgramFocus {
    color:#000;
    background: #dfbe5e;
}

.Program
{
    outline: 1px solid rgb(42, 61, 71);
}

p.ChannelNumber,
p.ChannelName
{
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    font-size: 20px;
    font-family: gotham;
    font-weight: bold;
}

div.HourRow
{
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    font-size: 20px;
    font-family: arial-rounded;
    font-weight: bold;
}

div#PvrProgramDate{
    font-family: arial-rounded;
    color: #fff;
}

div#RecorderMessage {
    color: #e1e1e1;
}

div#PvrInfo{
    border: 1px solid rgba(3,150,166,0.9);
    background-color: #246681;
}

/********** PVR ***********/

div#PvrOptions,
div#PvrDeleteOptions,
div#RecordPlayOptions,
div#RecordingManualOptions,
div#RecordingOptions {
    background-image: url('DarkBlue/square.png');
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    background-size: 100% 100%;
}

div.PvrOptionsButton,
div.RecordingManualOptionsButton,
div.RecordingOptionsButton {
    background: #2f414a;
    color: #fff;
}

div#PvrProgramDescription {
    color: #fff;
    font-family: calibri-regular;
}

div#PvrNow {
    font-family: arial-rounded;
    color: #fff;
}

div#PvrWeather{
    font-family: arial-rounded;
    color: #0396a6;
}

#PvrLogoContainer {
    background: #2f414a;
}

.Ttle {
    color: #dfbe5e;
}

.Rtg{
    color: #0396a6;
}

div#EpgRating {
    color: #0396a6;
}

div#ProgramRow1,
div#ProgramRow2,
div#ProgramRow3,
div#ProgramRow4,
div#ProgramRow5,
div#ProgramRow6,
div#ProgramRow7 {
    font-family: arial-rounded;
    background-color: #246681;
}

div#ChannelRow1,
div#ChannelRow2,
div#ChannelRow3,
div#ChannelRow4,
div#ChannelRow5,
div#ChannelRow6,
div#ChannelRow7 {
    background-color: #2f4142;
    border-radius: 6px;
}

div#BarPosition {
    background-color: #0396a6;
    color: #fff;
}

div.BarPosition {
    background: rgba(255, 255, 255, 0.6);
}

div#BarStatus {
    color: #e3c15a;
}

div.RecordingOptionFocus {
    background: rgba(223, 190, 94, 0.9);
    color: #000;
    font-weight: bold;
}

div#BarUsedSize {
    background: #0396a6;
    color: #000;
}

div#BarUsedSize {
    background: #0396a6;
    color: #2f414a;
}

div.BarUsedSize {
    background: rgba(255, 255, 255, 0.8);
}

div#RecordingManualOptions {
    color: #fff
}