/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jan 31, 2020, 3:58:10 PM
    Author     : tania
*/

/***************************** [CONTENEDORES] *****************************/

#MainLogo {
    max-height: 20%;
    left: 5%;
    position: fixed;
    bottom: 5%;
}

div#MenuContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    color: #fff;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 36px;
}

div#MenuBackgrounds {
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

div#MenuDate {
    width: 30%;
    height: 9%;
    font-size: 50px;
    text-align: left;
    top: 5%;
    position: fixed;
    left: 5%;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

div#MenuHour {
    width: 20%;
    height: 5%;
    font-size: 60px;
    top: 15%;
    position: fixed;
    left: 5%;
    text-align: left;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

div#MenuWeather,
div#MenuHour,
div#MenuDate {
    font-family: 'Lexend Deca', sans-serif;
}

#WeatherIcon {
    float: left;
}

div#MenuWeather {
    width: 25%;
    font-size: 40px;
    text-align: center;
    top: 15%;
    position: fixed;
    right: 2%;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}


div#WeatherSummary {
    float: right;
    width: 40%;
    text-align: left;
    white-space: nowrap;
    display: none;
}

div#TemperatureGroup {
    float: left;
    width: 59%;
}

div#MenuSelected {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 120px;
    width: 100%;
    text-align: center;
    top:40%;
    position: fixed;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}