/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Nov 15, 2019, 3:58:10 PM
    Author     : tania
*/

/***************************** [CONTENEDORES OCULTOS EN MIN] *****************************/

div.Quality,
div.Duration,
div#EpgStars,
div#PvrProgramDuration,
div#PvrProgramEpisode,
div#PvrProgramStars,
#WeatherSummary,
div#EpgRecording,
div#EpgEpisode,
div#EpgDuration,
div#EpgSerie,
div.Time,
div.ChannelName
{
    display: none;
}

/***************************** [EPG] *****************************/

.Times {
    margin: 0;
    float: left;
    text-transform: uppercase;
}

.Ttle {
    margin: 0;
    float: left;
}

.Rtg{
    margin: 0;
    float: left;
}
div#infoDevice {
    position: absolute;
    border-radius: 50px;
    background: rgba(0, 83, 110, 0.8);
    color: #fff;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 40px;
    height: 60%;
    width: 40%;
    z-index: 10;
    top: 50%;
    left: 50%;
    margin-left: -20%;
    margin-top: -20%;
}

.RowDur {
    margin: 0;
    float: right;
    text-align: right;
    padding-right: 1%;
}

#PvrLogoContainer {
    position: fixed;
    width: 25%;
    height: 35%;
    bottom: 20%;
    left: 2%;
    border-radius: 6px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
}

#PvrMainLogo {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

div#EpgContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    visibility: hidden;
    background-size: 100% 100%;
    opacity: 1;
    z-index: 0;
}

#WeatherIcon {
    top: 2%;
    position: fixed;
    right: 2%;
}

div#EpgHeader {
    height: 5%;
    width: 98%;
    position: fixed;
    padding: 0.5% 1% 0% 1%;
}

div#EpgChannels {
    position: fixed;
    width: 22%;
    height: 40%;
    bottom: 19.5%;
    left: 1.7%;
    border-radius: 6px;
    
}

div#EpgPrograms {
    position: fixed;
    width: 76%;
    height: 40%;
    bottom: 19.5%;
    right: 2%;
    z-index: 1;
}

div#EpgProgramInfo {
    position: fixed;
    width: 58%;
    height: 26.3%;
    top: 7%;
    left: 28%;
    border-radius: 6px;
    border-style: solid;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.3);
}

div#EpgHours {
    position: fixed;
    width: 76%;
    height: 5%;
    right: 2%;
    top: 36%;
    background-size: 100% 100%;
}

/***************************** [Header] *****************************/
div#EpgNowAiring {
    width: 28%;
    height: 6%;
    position: fixed;
    padding-left: 2%;
    padding-top: 2%;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

div#EpgDate {
    width: 20%;
    height: 5%;
    position: fixed;
    right: 13.5%;
    top: 3.3%;
    text-align: right;
    font-size: 18px;
}

div#EpgWeather {
    width: 10%;
    height: 5%;
    top: 2.5%;
    right: 2.5%;
    position: fixed;
    text-align: left;
}

div#Icon{
    width: 3%;
    height: 5%;
    top: 4%;
    right:3%;
    position: fixed;
}

div#TemperatureGroup {
    width: 100%;
    height: 100%;
    font-size: 18px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

div#EpgDays {
    width: 20%;
    height: 5%;
    top: 36%;
    position: fixed;
    font-size: 22px;
    left: 2%;
    text-shadow: 4px 3px 2px rgba(0,0,0,0.5);
    text-align: center;
}

div#EpgDay {
    width: 90%;
    float: left;
 
}

#EpgDays b {
    float: left;
}

/***************************** Estilo BackgroundInfo *****************************/

.ChannelImage {
    width: 25%;
    height: 100%;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}

div.ChannelName {
    width: 28%;
    float: left;
    padding-bottom: 0.5%;
    text-transform: uppercase;
}

div.Date {
    float: right;
    width: 12%;
    text-align: right;
    padding-right: 3%;
}

div.ChannelNumber,
 div.Date{ 
    padding-top: 1%;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
 }  

 div.Title {
     width: 95%;
     height: 22%;
     font-size: 20px;
     text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
     float: left;
     font-weight: bold;
 }

 div.Time{
    position: fixed;
    width: 20%;
    height: 10%;
    bottom: 11.5%;
    left: 36%;
    font-size: 16px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
 }

 div.Description {
     width: 94%;
     height: 45%;
     font-size: 19px;
     text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
     float: left;
     overflow: hidden;
     line-height: 30px;
 }

 div.Rating {
     position: fixed;
     width: 20%;
     height: 10%;
     bottom: 11.5%;
     left: 56%;
     font-size: 16px;
     text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
 }


/***************************** [CANALES] *****************************/

p.ChannelName {
    width: 75%;
    height: 100%;
    float: right;
    margin: 0;
    white-space: nowrap;
    line-height: 55px;
    text-align: left;
}


/***************************** [HORAS] *****************************/

div.HourRow {
    float: left;
    width: 25%;
    height: 100%;
    font-size: 23px;
    text-transform: uppercase;
}

/***************************** [PROGRAMAS] *****************************/


#EpgPrograms p {
    margin: 0;
    float: left;
    border: 1px solid #fff;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    
}

.Program {
    margin: 0;
    float: left;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    height: 100%;
    line-height: 50px;
    background-size: 100% 100%;
    text-align: center;
}

div#ProgramRow1,
div#ProgramRow2,
div#ProgramRow3,
div#ProgramRow4,
div#ProgramRow5,
div#ProgramRow6,
div#ProgramRow7 {
    width: 100%;
    height: 19.3%;
    font-weight: bold;
    margin-bottom: .3%;
}

div#ChannelRow1,
div#ChannelRow2,
div#ChannelRow3,
div#ChannelRow4,
div#ChannelRow5,
div#ChannelRow6,
div#ChannelRow7 {
    font-size: 20px;
    text-transform: uppercase;
    height: 19.3%;
    width: 100%;
    margin-bottom: 1%;
}

/***************************** [INFO] *****************************/

div.EpgLogo {
    position: fixed;
    width: 6%;
    height: 8%;
    top: 8%;
    right: 14%;
    overflow: hidden;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}

/*Contiene logo empresa*/
div#EpgMainLogo {
    position: fixed;
    width: 11%;
    height: 27%;
    top: 7%;
    right: 2%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}

div#EpgTitle {
    font-size: 26px;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 2%;
    width: 90%;
}

div#EpgDescription {
    width: 58%;
    height: 14%;
    padding-top: 1%;
    position: fixed;
    top: 18%;
    overflow: hidden;
    text-align: justify;
    font-size: 20px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    line-height: 35px;
}

div#EpgTime {
    width: 15%;
    height: 5%;
    position: fixed;
    top: 15%;
}

div#EpgRating {
    width: 15%;
    height: 5%;
    position: fixed;
    top: 15%;
    left: 44%;
}

div#EpgRating,
div#EpgTime{
    text-align: left;
    font-size: 19px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    text-transform: uppercase;
}

div#EpgEpisode{
    width: 100%;
    height: 15%;
    float: right;
    padding-top: 2%;
}
div#EpgDuration {
    width: 25%;
    height: 9%;
    float: left;
    text-align: center;
}

div#EpgStars {
    width: 20%;
    height: 9%;
    float: right;
    text-align: center;
}

div#EpgRecording {
    width: 50%;
    float: left;
}

div#EpgSerie {
    float: left;
    width: 50%;
}

/***************************** [Video/PauseLive Bar] *****************************/

div#BarContainer,
div#BarPosition,
div#BarTotal,
div#BarTimes,
div#BarDuration,
div#BarStatus {
    position: absolute;
}

div#BarContainer{
    height: 3.33%;
    width: 92%;
    right: 3%;
    top: 2%;
    border-radius: 4px;
    display: none;
    background-color: rgba(255,255,255,0.6);
    box-shadow: 3px 4px 4px rgba(0,0,0,0.5);
}

div#BarPosition {
    border-radius: 6px;
    height: 100%;
    width: 0%;
    z-index: 1;
    text-align: right;
}

div#BarTimes {
    right: 2%;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    top: 5%;
    color: #fff;
    font-size: 21px;
    text-align: left;
    width: 10%;
}

div#BarDuration{
    right: 2%;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    top: 1%;
    color: #000;
    font-size: 21px;
    text-align: left;
    width: 10%;
    z-index: 1;
}

div#BarStatus {
    left: 2.5%;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    text-align: center;
    font-size: 23px;
    top: 1%;
}

#BarStatus p {
    font-size: 20px;
    margin: 0;
}

/***************************** [ Recordings ] *****************************/

div#RecordingOptions {
    width: 30%;
    height: 33%;
    position: fixed;
    text-align: center;
    background-size: 100% 100%;
    right: 35%;
    top: 40%;
    border-radius: 10px;
    z-index: 1;
}

div#RecordingOptions {
    visibility: hidden;
}

div.RecordingOptionsButton {
    width: 80%;
    text-align: center;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    min-height: 20%;
    border-radius: 5px;
    margin-top: 2.5%;
}


div#RecorderMessage {
    text-align: center;
    font-size: 35px;
    margin: 2%;
}

div#PanelMessage {
    width: 50%;
    height: 30%;
    text-align: center;
    z-index: 1;
    position: fixed;
    top: 25%;
    display: none;
    right: 25%;
    box-shadow: 6px 6px 5px rgba(0,0,0,0.5);
    border-radius: 6px;
}

div#MessageClose  {
    font-size: 43px;
    bottom: 5%;
    position: absolute;
    width: 30%;
    left: 35%;
    border-radius: 6px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.4);
    box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
}

/***************************** [ PVR DESIGN ] *****************************/

div#PvrNow {
    width: 28%;
    height: 4%;
    position: fixed;
    margin-left: 3.2%;
    top:5%;
    font-size: 20px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}


div#PvrWeather{
    width: 100%;
    font-size: 18px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    text-align: center;
    float: left;
}

div#PvrLateral {
    width: 20%;
    position: fixed;
    height: 12%;
    bottom: 3%;
    left: 4.5%;
}

div#Temperatures {
    float: left;
    width: 65%;
    text-align: right;
}

div#PvrIcon {
    float: right;
    width: 32%;
    text-align: left;
}

div#PvrDate{
    font-size: 18px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    text-align: center;
    width: 100%;
    float: right;
    margin-top: 3%;
}

div#PvrContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    visibility: hidden;
    background-size: 100% 100%;
    opacity: 1;
    z-index: 0;
}

div.PvrHeader {
    width: 69%;
    height: 5%;
    position: fixed;
    right: 2%;
    text-align: center;
    top: 7%;
    font-size: 36px;
    border-radius: 6px;
}

div#CurrentPvrOption {
    width: 70%;
    margin: 0 auto;
    font-size: 28px;
    font-weight: bold;
    line-height: 35px;
}

.PvrChevronLeft {
    left: 0;
    position: absolute;
    top: 1%;
}

.PvrChevronRight {
    right: 0;
    position: absolute;
    top: 0;
}

div#PvrList {
    width: 69%;
    height: 50%;
    position: fixed;
    right: 2%;
    bottom: 37%;
}

div.PvrProgram {
    width: 100%;
    height: 10%;
    float: right;
    white-space: nowrap;
    overflow: hidden;
    font-size: 23px;
    margin: 0.2%;
    background: #2f414a;
    border-radius: 6px;
    text-align: left;
}

.PvrProgramFocus {
    width: 100%;
    height: 10%;
    float: right;
    white-space: nowrap;
    overflow: hidden;
    font-size: 23px;
    margin: 0.1%;
    font-weight: bold;
    border-radius: 6px;
    text-align: left;
}

div#PvrOptions {
    width: 33%;
    height: 33%;
    top: 35%;
    right: 33%;
    border-radius: 6px;
    position: fixed;
    text-align: center;
    visibility: hidden;
}

div#PvrDeleteOptions {
    width: 33%;
    height: 33%;
    top: 35%;
    right: 33%;
    border-radius: 6px;
    position: fixed;
    text-align: center;
    visibility: hidden;
}

.PvrOptionsButton {
    width: 80%;
    text-align: center;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-top: 4%;
    height: 23%;
    border-radius: 5px;
}

div#PvrInfo{
    width: 69%;
    height: 21%;
    position: fixed;
    bottom: 15%;
    right: 2%;
    border-radius: 6px;
}

div#PvrProgramTitle {
    width: 68%;
    height: 4%;
    margin-top:0.5%;
    margin-left: 0.5%;
    position: fixed;
    overflow: hidden;
    white-space: nowrap;
    font-size: 23px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

div#PvrProgramDate{
    width: 40%;
    height: 4%;
    margin-top: 3%;
    margin-left: 0.5%;
    position: fixed;
    overflow: hidden;
    font-size: 18px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

div#PvrProgramDescription {
    width: 68%;
    height: 11%;
    margin-top: 5%;
    margin-left: 0.5%;
    position: fixed;
    overflow: hidden;
    text-align: left;
    font-size: 18px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    line-height: 29px;
}

/* Info grabador (disco) */

div#PvrDiskInfo {
    width: 69%;
    height: 6%;
    position: fixed;
    right: 2%;
    bottom: 8%;
    font-size: 20px;
}

div#UsedSize {
    width: 69%;
    height: 6%;
    bottom: 4%;
    text-align: right;
    position: fixed;
}

div.BarUsedSize {
    width: 100%;
    height: 70%;
    border-radius: 6px;
    position: absolute;
    z-index: 0;
}

div#BarUsedSize {
    z-index: 1;
    position: absolute;
    border-radius: 6px;
    text-align: center;
}

div#RecordPlayOptions {
    width: 30%;
    height: 36%;
    background-size: 100% 100%;
    right: 35%;
    top: 40%;
    border-radius: 6px;
    position: fixed;
    text-align: center;
    z-index: 1;
}

div#RecordPlayOptions {
    visibility: hidden;
}

div#RecordingManualOptions {
    width: 30%;
    height: 30%;
    background-size: 100% 100%;
    right: 35%;
    top: 40%;
    border-radius: 6px;
    position: fixed;
    text-align: center;
    z-index: 1;
    visibility: hidden;
}

div#RecordingData {
    text-align: center;
    width: 100%;
    height: 70%;
}

div.TimeNewRecording{
    display: inline-table;
    background: rgba(223, 223, 223, 0.28);
    width: 14%;
    margin: 0% 1% 0% 1%;
    font-size: 26px;
    padding: 0% 1% 1% 1%;
    border-radius: 4px;
}

div.TimeNewRecordingFocus {
    box-shadow: 4px 4px rgba(0,0,0,0.5);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

div.InstructionsManual {
    font-size: 24px;
}

/***************************** [EPG] *****************************/