/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 15, 2019, 3:58:10 PM
    Author     : tania
*/

/***************************** [CONTENEDORES] *****************************/

div#EpgContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    visibility: hidden;
    background-size: 100% 100%;
    opacity: 1;
    z-index: 0;
}

div#EpgHeader {
    height: 5%;
    width: 98%;
    position: fixed;
    padding: 0.5% 1% 0% 1%;
}

div#EpgChannels {
    position: fixed;
    width: 16%;
    height: 35%;
    bottom: 3%;
    left: 1%;
    overflow: hidden;
}

div#EpgPrograms {
    position: fixed;
    width: 82%;
    height: 35%;
    bottom: 3%;
    right: 1%;
    overflow: hidden;
}

div#EpgProgramInfo {
    position: fixed;
    width: 67%;
    height: 48%;
    top: 9%;
    right: 1%;
    font-size: 22px;
}

div#EpgHours {
    position: fixed;
    width: 82%;
    height: 5%;
    right: 1%;
    bottom: 38%;
    background-size: 100% 100%;
}

/***************************** [Header] *****************************/

div#EpgDate {
    width: 48%;
    text-align: right;
    font-size: 25px;
    height: 100%;
    float: right;
    margin-right: 2%;
}

div#EpgWeather {
    width: 50%;
    float: left;
    height: 100%;
}

div#WeatherSummary {
    float: left;
    width: 25%;
    height: 100%;
    text-align: center;
    font-size: 23px;
    padding-top: 0.5%;
    display: none;
}

div#TemperatureGroup {
    float: left;
    width: 25%;
    height: 100%;
    text-align: center;
    font-size: 23px;
    padding-top: 1%;

}

div#EpgNowAiring {
    width: 29.5%;
    height: 6%;
    text-align: center;
    font-size: 20px;
    top: 39%;
    position: fixed;
    left: 2%;
}

div#EpgDays {
    width: 31%;
    height: 6%;
    text-align: center;
    font-size: 25px;
    bottom: 45%;
    position: fixed;
    left: 1%;
}

div#EpgDay {
    width: 90%;
    float: left;
}

#EpgDays b {
    float: left;
}

/***************************** [CANALES] *****************************/

p.ChannelName {
    width: 59%;
    height: 100%;
    float: left;
    margin: 0;
    white-space: nowrap;
    line-height: 50px;
    text-align: left;
    padding-left: 5%;
}

p.ChannelNumber  {
    width:30%;
    height: 100%;
    float: left;
    margin: 0;
    text-align: right;
    line-height: 50px;
}

/***************************** [HORAS] *****************************/

div.HourRow {
    float: left;
    width: 20%;
    height: 100%;
    font-size: 32px;
}

/***************************** [PROGRAMAS] *****************************/


#EpgPrograms p {
    margin: 0;
    float: left;
    border: 1px solid #fff;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
}

.Program {
    margin: 0;
    float: left;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    height: 100%;
    line-height: 50px;
    background-size: 100% 100%;
}

div#ProgramRow1,
div#ProgramRow2,
div#ProgramRow3,
div#ProgramRow4,
div#ProgramRow5 {
    width: 100%;
    height: 20%;
}

div#ChannelRow1,
div#ChannelRow2,
div#ChannelRow3,
div#ChannelRow4,
div#ChannelRow5 {
    height: 20%;
    width: 100%;
}

/***************************** [INFO] *****************************/

div.EpgLogo {
    width: 6%;
    overflow: hidden;
    float: right;
    /*background:#fff;*/
    /*border-radius: 50px;*/
    height: 12%;
    margin-right: 1%;
    margin-top: 3%;
    text-align: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


div#EpgTitle {
    width: 87%;
    height: 15%;
    font-weight: bold;
    text-align: justify;
    font-size: 23px;
    text-shadow:4px 4px 6px rgb(0, 0, 0);
    overflow: hidden;
    white-space: pre-wrap;
}

div#EpgDescription {
    width: 100%;
    height: 45%;
    text-align: justify;
    font-size: 22px;
    padding-top: 1%;
}

div#EpgEpisode{
    width: 100%;
    height: 15%;
    float: right;
    padding-top: 2%;
}

div#EpgTime {
    width: 30%;
    float: left;
    text-align: left;
}

div#EpgDuration {
    width: 25%;
    float: left;
    text-align: center;
}

div#EpgRating {
    width: 25%;
    float: right;
    text-align: center;
    color: #e3c15a;
    font-weight: bold;
    font-size: 25px;    
}

div#EpgStars {
    width: 20%;
    float: right;
    text-align: center;
    color: #e3c15a;
}

div#EpgRecording {
    width: 50%;
    float: left;
}

div#EpgSerie {
    float: left;
    width: 50%;
}


div#EpgStars, 
div#EpgRating,
div#EpgDuration,
div#EpgTime
{
    border-bottom: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255,255,255,0.5);
    height: 9%;
}

/***************************** [Video/PauseLive Bar] *****************************/

div#BarContainer,
div#BarPosition,
div#BarTotal,
div#BarStatus {
    position: absolute;
}

div#BarContainer{
    height: 4.5%;
    width: 90%;
    margin-left: 5%;
    top: 2%;
    border-radius: 4px;
    display: none;
}

div#BarPosition {
    border-right: 5px solid #fff;
    height: 100%;
    top: 2%;
    background-color: transparent;
    width: 0%;
    z-index: 1;
    text-align: right;
    color: #fff;
    font-size: 23px;
}

div#BarStatus {
    right: 0;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    text-align: center;
    top: 100%;
}

#BarStatus p {
    font-size: 20px;
    margin: 0;
}

/***************************** [ Recordings ] *****************************/

div#RecordingOptions {
    width: 30%;
    height: 43%;
    background-size: 100% 100%;
    right: 35%;
    top: 40%;
    border-radius: 6px;
    position: fixed;
    text-align: center;
    z-index: 1;
}

div#RecordingOptions {
    visibility: hidden;
}

div.RecordingOptionsButton {
    width: 80%;
    text-align: center;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin: 2%;
    min-height: 15%;
    border-radius: 5px;
}


div.RecordingOptionFocus {
    box-shadow: 6px 6px rgba(0,0,0,0.5);
    text-shadow: 3px 3px 4px #000;
}

div#RecorderMessage {
    width: 100%;
    height: 7%;
    text-align: center;
    font-size: 35px;
    z-index: 1;
    position: fixed;
    top: 0%;
    background: rgba(0,0,0,0.8);
    color: #e1e1e1;
    display: none;
}


div#PvrContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    visibility: hidden;
    background-size: 100% 100%;
    opacity: 1;
    z-index: 0;
}

/* Panel grabador */

div.PvrHeader {
    width: 65%;
    height: 5%;
    position: fixed;
    right: 2%;
    text-align: center;
    top: 13%;
    font-size: 35px;
}

div#CurrentPvrOption {
    width: 70%;
    margin: 0 auto;
}

.PvrChevronLeft {
    left: 0;
    position: absolute;
    top: 1%;
}

.PvrChevronRight {
    right: 0;
    position: absolute;
    top: 0;
}

div#PvrList {
    width: 65%;
    height: 75%;
    position: fixed;
    right: 2%;
    bottom: 5%;
}

div.PvrProgram {
    width: 99%;
    height: 8%;
    float: right;
    font-size: 26px;
    margin: 0.7%;
    white-space: nowrap;
    overflow: hidden;
}

.PvrProgramFocus {
    box-shadow: 4px 4px rgba(0,0,0,0.5);
    text-shadow: 3px 3px 4px #000;
    background: rgba(0, 0, 0, 0.3);
    width: 99%;
    height: 8%;
    float: right;
    font-size: 26px;
    margin: 0.7%;
    white-space: nowrap;
    overflow: hidden;
}

div#PvrOptions {
    width: 33%;
    height: 33%;
    top: 35%;
    right: 33%;
    border-radius: 6px;
    position: fixed;
    text-align: center;
    visibility: hidden;
}

div#PvrDeleteOptions {
    width: 33%;
    height: 33%;
    top: 35%;
    right: 33%;
    border-radius: 6px;
    position: fixed;
    text-align: center;
    visibility: hidden;
}

.PvrOptionsButton {
    width: 80%;
    text-align: center;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin: 4%;
    height: 19%;
    border-radius: 5px;
}

div#PvrInfo{
    width: 30%;
    height: 50%;
    position: fixed;
    bottom: 8%;
    left: 2%;
}


div#PvrProgramDuration,
div#PvrProgramEpisode,
div#PvrProgramStars {
    font-size: 25px;
}

div#PvrProgramDate {
    font-weight: bold;
    font-size: 28px;
}

div#PvrProgramDuration {
    float: left;
}

div#PvrProgramStars {
    float: right;
    text-align: right;
    color: #ddbe61;
}

div#PvrProgramEpisode {
    color: #90c3e1;
    font-style: italic;
    width: 100%;
    float: right;
}

div#PvrProgramDescription {
    font-size: 21px;
    overflow: hidden;
    width: 100%;
    float: right;
}

div#PvrProgramTitle {
    width: 30%;
    position: fixed;
    bottom: 3%;
    font-style: italic;
    color: #eed098;
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
}

/* Info grabador (disco) */

div#PvrDiskInfo {
    width: 65%;
    height: 6%;
    position: fixed;
    right: 2%;
    top: 2%;
    font-size: 20px;
}

div#UsedSize {
    font-weight: bold;
    margin: 0.5%;
}

div.BarUsedSize {
    width: 65%;
    border: 1px solid rgba(255,255,255,0.5);
    height: 4%;
    border-radius: 5px;
    position: fixed;
}

div#BarUsedSize {
    background: rgba(0,0,0,0.5);
    text-align: right;
    border-radius: 5px;
}

div#RecordPlayOptions {
    width: 30%;
    height: 36%;
    background-size: 100% 100%;
    right: 35%;
    top: 40%;
    border-radius: 6px;
    position: fixed;
    text-align: center;
    z-index: 1;
}

div#RecordPlayOptions {
    visibility: hidden;
}

div#RecordingManualOptions {
    width: 30%;
    height: 30%;
    background-size: 100% 100%;
    right: 35%;
    top: 40%;
    border-radius: 6px;
    position: fixed;
    text-align: center;
    z-index: 1;
    visibility: hidden;
    color: #fff
}

div#RecordingData {
    text-align: center;
    width: 100%;
    height: 70%;
}

div.TimeNewRecording{
    display: inline-table;
    background: rgba(223, 223, 223, 0.28);
    width: 14%;
    margin: 0% 1% 0% 1%;
    font-size: 26px;
    padding: 0% 1% 1% 1%;
    border-radius: 4px;
}

div.TimeNewRecordingFocus {
    box-shadow: 4px 4px rgba(0,0,0,0.5);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

div.InstructionsManual {
    font-size: 24px;
}